@tailwind base;
@tailwind components;
@tailwind utilities;
.input {
  @apply w-full rounded-md border border-slate-700 bg-slate-900 px-3 py-2 text-sm text-slate-100 placeholder:text-slate-500 focus:outline-none focus:ring-2 focus:ring-brand focus:border-brand;
}



body {
  @apply bg-slate-950 text-slate-100;
}

a {
  @apply text-brand hover:underline;
}
